.e-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;

  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
}

.e-button-primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;

  &:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
  }
}

.e-button-error {
  color: #fff;
  background-color: #bd3737;
  border-color: #bd3737;

  &:hover {
    background: #bd3737;
    border-color: #bd3737;
    color: #fff;
  }
}

.e-button-success {
  color: #fff;
  background-color: #18a058;
  border-color: #18a058;

  &:hover {
    background: #1caf61;
    border-color: #1caf61;
    color: #fff;
  }
}

.e-button-info {
  color: #fff;
  background-color: #e1e1e1;
  border-color: #e1e1e1;

  &:hover {
    background: #e2e2e2;
    border-color: #e2e2e2;
    color: #fff;
  }
}

.e-button-warning {
  color: #fff;
  background-color: #c9b042;
  border-color: #c9b042;

  &:hover {
    background: #e6cc58e8;
    border-color: #e6cb58e8;
    color: #fff;
  }
}

.e-button-error {
  color: #fff;
  background-color: #d3402d;
  border-color: #d3402d;

  &:hover {
    background: #d3402ddc;
    border-color: #d3402ddc;
    color: #fff;
  }
}

.e-button-text {
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  border: transparent;

  &:hover {
    color: #83b8f0ea;
    border-color: transparent;
    background-color: transparent;
  }
}

.e-is-round {
  border-radius: 20px;
}

.e-button.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}

.e-button-primary.is-disabled.is-plain,
.e-button-primary.is-disabled.is-plain:active,
.e-button-primary.is-disabled.is-plain:focus,
.e-button-primary.is-disabled.is-plain:hover,
.e-button-primary.is-disabled,
.e-button-mini.is-disabled.e-button-primary,
.e-button-small.is-disabled.e-button-primary,
.e-button-large.is-disabled.e-button-primary,
.e-button-normal.is-disabled.e-button-primary {
  color: #dddddd;
  background-color: #64a8ec;
  border-color: #64a8ec;
}

.e-button-success.is-disabled.is-plain,
.e-button-success.is-disabled.is-plain:active,
.e-button-success.is-disabled.is-plain:focus,
.e-button-success.is-disabled.is-plain:hover,
.e-button-success.is-disabled,
.e-button-mini.is-disabled.e-button-success,
.e-button-small.is-disabled.e-button-success,
.e-button-large.is-disabled.e-button-success,
.e-button-normal.is-disabled.e-button-success {
  color: #dddddd;
  background-color: #469c6e;
  border-color: #469c6e;
}

.e-button-info.is-disabled.is-plain,
.e-button-info.is-disabled.is-plain:active,
.e-button-info.is-disabled.is-plain:focus,
.e-button-info.is-disabled.is-plain:hover,
.e-button-info.is-disabled,
.e-button-mini.is-disabled.e-button-info,
.e-button-small.is-disabled.e-button-info,
.e-button-large.is-disabled.e-button-info,
.e-button-normal.is-disabled.e-button-info {
  color: #fff;
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

.e-button-warning.is-disabled.is-plain,
.e-button-warning.is-disabled.is-plain:active,
.e-button-warning.is-disabled.is-plain:focus,
.e-button-warning.is-disabled.is-plain:hover,
.e-button-warning.is-disabled,
.e-button-mini.is-disabled.e-button-warning,
.e-button-small.is-disabled.e-button-warning,
.e-button-large.is-disabled.e-button-warning,
.e-button-normal.is-disabled.e-button-warning {
  color: #dddddd;
  background-color: #b8a75b;
  border-color: #b8a75b;
}

.e-button-error.is-disabled.is-plain,
.e-button-error.is-disabled.is-plain:active,
.e-button-error.is-disabled.is-plain:focus,
.e-button-error.is-disabled.is-plain:hover,
.e-button-error.is-disabled,
.e-button-mini.is-disabled.e-button-error,
.e-button-small.is-disabled.e-button-error,
.e-button-large.is-disabled.e-button-error,
.e-button-normal.is-disabled.e-button-error {
  color: #dddddd;
  background-color: #913636;
  border-color: #913636;
}

.e-button-text.is-disabled.is-plain,
.e-button-text.is-disabled.is-plain:active,
.e-button-text.is-disabled.is-plain:focus,
.e-button-text.is-disabled.is-plain:hover,
.e-button-text.is-disabled {
  color: #5c80a5;
  background-color: transparent;
  border-color: transparent;
}

.e-button-normal {
  padding: 10px 15px;
  font-size: 14px;
}

.e-button-large {
  padding: 15px 25px;
  font-size: 15px;
}

.e-button-small {
  padding: 5px 10px;
  font-size: 13px;
}

.e-button-mini {
  padding: 3px 8px;
  font-size: 12px;
}